# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environnements
.env
.env.*
backend/.env
frontend/.env
frontend/.env.local

# Logs
logs/
*.log
backend/logs/
frontend/.next/
dist/
build/
coverage/

# Prisma
backend/prisma/dev.db
backend/prisma/*.sqlite